[commit]
	gpgsign = true
[color]
	ui = true
[core]
	autocrlf = input
	editor = code --wait --new-window
	excludesfile = ~/.gitignore_global
	pager = delta
[delta]
	features = line-numbers
[interactive]
	diffFilter = delta --color-only
[user]
	name = Ryuichi Okumura
	email = okuryu@okuryu.com
	signingkey = F7125919
