[color]
	ui = true
[commit]
	gpgsign = true
[core]
	autocrlf = input
	quotepath = false
	editor = code --wait --new-window
	excludesfile = ~/.gitignore_global
	pager = delta
[delta]
	features = line-numbers
[interactive]
	diffFilter = delta --color-only
[user]
	name = Ryuichi Okumura
	email = okuryu@okuryu.com
